/com.android.ide.eclipse.adt.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.e4.ui.css.swt.theme.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jsch.core.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.team.ui.prefs
/org.eclipse.ui.editors.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.ui.prefs
/org.eclipse.ui.trace.prefs
/org.eclipse.ui.workbench.prefs
/org.eclipse.wst.sse.core.prefs
/org.eclipse.wst.sse.ui.prefs
